[alias]
	co = checkout
	l = log --graph --decorate --pretty=oneline --abbrev-commit
	prune = fetch --prune
	stash-all = stash save --include-untracked
	s = status
	undo = reset --soft HEAD^
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
	interactive = auto
[core]
	excludesfile = ~/.gitignore
	editor = vi
[commit]
	gpgSign = true
[credential]
	helper = GIT_CREDENTIAL_HELPER
[diff]
  tool = icdiff
[difftool]
  prompt = false
[difftool "icdiff"]
  cmd = /usr/local/bin/icdiff --line-numbers $LOCAL $REMOTE
[help]
	autocorrect = 1
[push]
	default = simple
[user]
	name = AUTHORNAME
	email = AUTHOREMAIL
	signingkey = AUTHORKEY
