"*":
  core:
    projectHome: "~/Repositories/"
    themes: [
      "one-dark-ui"
      "chester-atom-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    invisibles: {}
    showLineNumbers: false
    softWrap: true
  "exception-reporting":
    userId: "661f7a95-861e-f69d-0a5b-98f32d43eede"
  "file-icons": {}
  "go-plus":
    goPath: "~/.go"
  "language-mzn": {}
  linter:
    errorPanelHeight: 102
    subtleLinterErrors: [
      "rust"
    ]
  "linter-encore": {}
  "linter-erlc":
    erlcExecutablePath: "/usr/local/bin/erlc"
  "linter-mzn": {}
  "linter-ruby":
    rubyExecutablePath: "/usr/local/opt/rbenv/shims/ruby"
  "linter-rust":
    cargoExecutablePath: "/usr/local/bin/cargo"
    executablePath: "/usr/local/bin/rustc"
  "merge-conflicts": {}
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  "one-dark-ui": {}
  tabs:
    usePreviewTabs: true
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    softWrap: true
".coffee.source":
  editor:
    tabLength: 2
".enc.source":
  editor:
    tabLength: 2
".source.toml":
  editor:
    tabLength: 2
